[Desktop Entry]
Name=Nintendo Switch Online
GenericName=Nintendo Switch Rich Presence
Comment=Nintendo Switch Online client and Discord Rich Presence
Exec=Nintendo.Switch.Online-Linux.AppImage --app-open-at-login=1
Icon=nxapi
Type=Application
StartupWMClass=nxapi-app
Categories=Game;Network;Utility;
Terminal=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
